<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <table border="1" style="margin-left:10cm;width:15cm;height:2cm;background-color: chartreuse;">
        <td><h1 style="text-align:center;color:brown">ADD New Product</h1></td>
    </table><br>
    <table border="1" style="width:15cm;height:5cm;margin-left:10cm">
        <td style="">
     <form action="/insert" method="POST" style="margin-left:5cm">
        Product Name <br> <input type="text" name="productName">
        <br><br>
        Price <br> <input type="text" name="price" id=""> 
        <br><br>
        <input type="submit" value="Insert">
    </form>
    </td>
    </table>
</body>
</html>